.custom-input {
    width: 278px;
    height: 54px;
  
    .mat-mdc-form-field-flex {
        align-items: center;
        height: 100%;
    }
  
    .mat-mdc-text-field-wrapper {
        border: 1px solid #757575;
        border-radius: 4px;
        background-color: #FAF9F6;
        height: 54px;
    }
  
    .mat-mdc-floating-label {
        top: -8px;
        font-size: 14px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .custom-input {
        position: relative;
        margin-top: 40px;
    }
  }
  
  