h1 {
  font-family: 'Open Sauce One', sans-serif;
  font-weight: 800;
  line-height: 135%;
  letter-spacing: -2%;
  color: #72035D;
  text-align: center;
  width: 100vw;
  max-width: 100vw;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(20px, 8vw, 60px);
}



.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  align-items: center;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .page {
    width: 100vw;
    min-height: 100vh;
    background: rgba(245, 243, 243, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    box-sizing: border-box;
  }

  .form-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .page {
    display: block;
    padding-top: 40px;
  }

  h1 {
    font-size: 28px;
    width: 100%;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
  }

  .form-container {
    display: block;
    margin-top: 60px;
    width: 100%;
    text-align: center;
  }

  .custom-input {
    display: block;
    margin: 10px auto;
  }
}

