body {
  margin: 0;
  font-family: 'Open Sauce One', sans-serif;
}

@font-face {
  font-family: 'Open Sauce One';
  src: url('/assets/fonts/OpenSauceOne.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

html, body { 
  height: 100%; 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}
